<!-- Jquery Core CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Jquery Validation -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>
    <script>
jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /^[a-z]+$/i.test(value);
    }, "Letters only please");

    $.validator.addMethod("noCaps", function (value, element) {
        return this.optional(element) || !/[A-Z]/.test(value);
    }, "email can't have upper case letters")
    </script>

<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
            <form action="/admin/login" method="post" id="adminlogin">

              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input type="email" id="typeEmailX-2" name="email" class="form-control form-control-lg" minlength="6"
                  required noCaps=true />

              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg"
                  minlength="3" required />
                {{#if passErr}}
                <h5 class="text-danger text-capitalize">Bad Credentials Enterred</h5>
                {{else if emailErr}}
                <h5 class="text-danger text-capitalize">Bad Credentials Enterred</h5>
                {{/if}}
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

              <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  #typeEmailX-2-error,
  #typePasswordX-2-error {
    color: red
  }
</style>
<script>
  $("#adminlogin").validate();
</script>