<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">


<div class="container">

    <h2 class="mb-5">Add Coupon</h2>
    <form action="/admin/coupon/add" method="post" id="coupon-add" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">           
                <div class="form-group">
                    <label for="first">Coupon name</label>
                    {{#if exist}}
                    <p class="text-danger">Coupon Exist</p>
                    {{/if}}
                    <input type="text" name="couponName" class="form-control" placeholder="" id="first" requird>
                </div>
        </div>
        <!--  col-md-6   -->

        <div class="col-md-6">
            <div class="form-group">
                <label for="last">Offer</label>
                <input type="Number" name="offer" class="form-control" placeholder="" id="last" required>
            </div>
        </div>
        <!--  col-md-6   -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="couponExpire">CouponCode</label>
                <input type="text" name="couponCode" class="form-control" placeholder="" required>
            </div>
        </div>
        <!--  col-md-6   -->
        <div class="col-md-6">
           <div class="form-group">
                <label for="phone">Coupon Limit</label>
                <input type="Number" name="limit" class="form-control" id="phone" >
            </div>
        </div>
        <!--  col-md-6   -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="couponExpire">Expiry Date</label>
                <input type="text" name="expiry" class="form-control" placeholder="" id="couponExpire" required>
            </div>
        </div>
    </div>
    <!--  row   -->
    <div class="form-row form_img">
        <div class="grid">
            <div class="form-element">
                <input type="file" id="file-1" accept="image/*" name="Image">
                <label for="file-1" id="file-1-preview">
                    <img src="/dummy-post-square-1-thegem-blog-masonry.jpg" class="w-100 h-100" alt="">
                    <div>
                        <span>+</span>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-4">Submit</button>
    </form>
</div>


<script>
     $("#coupon-add").validate();
</script>
<style>
    .error{
        color:red
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<link rel="stylesheet" href="/Admin/css/style.css">
<script src="/Admin/js/custom.js"></script>
<script>
    flatpickr(
  '#couponExpire',
  {
      altInput: true,

      allowInput: true,
      altFormat: 'F j, Y',
      dateFormat: 'Y-m-d',
      disableMobile: 'true',
  })
  </script>