<section class="vh-100 gradient-custom">
  <div class="container  h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <div class="card shadow-lg px-3 bg-white rounded" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class=" ">
                
              <p>The OTP has been sent to your number <br> +91-{{phone.phone}}</p>

              
<form action="/forgetOtpverify" method="post" id="forgetVerify">
              <div class="form-outline form-white d-flex justify-content-center">
                <input type="number" name="otp" class="form-control w-50 border border-secondary text-center form-control-md rounded" minlength="6" maxlength="6" required/>
              </div>

              <button class="btn btn-info btn-md my-3" type="submit">submit</button>

              
              {{!-- <p class="secondary">The OTP is valid for only 30 minutes</p> --}}
</form>
            </div>

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Jquery Validation -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>


<script>

  $("#forgetVerify").validate();
</script>