/**
 * Pen Resets
 */
 * {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Content Wrapper
 */
.o-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

/**
 * Slider Product Trays
 */
.o-slider-image-viewer {
  position: relative;
}

.o-slider-image-viewer__inner {
  display: block;
  margin: 0;
  padding: 0;
}

.o-slider-image-viewer__slide {
  list-style: none;
  text-align: center;
}

.o-slider-image-viewer__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.o-slider-image-viewer__dot {
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
  width: 12px;
}
.o-slider-image-viewer__dot:focus {
  outline: 0;
}
.o-slider-image-viewer__dot.tns-nav-active {
  background-color: #aaa;
  cursor: default;
}

@media screen and (min-width: 900px) {
  .o-slider-image-viewer__dot {
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid transparent;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 3px;
    width: 150px;
  }
  .o-slider-image-viewer__dot.tns-nav-active {
    background-color: transparent;
    border-color: #aaa;
  }
}
@media screen and (max-width: 899px) {
  .o-slider-image-viewer__dot-image {
    display: none;
  }
}
/**
 * Product Image Viewer
 */
.c-product-image-viewer__image {
  max-height: calc(90vh - 96px);
}

.c-product-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -96px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.c-product-container__element {
  flex-basis: 100%;
  padding-left: 96px;
  text-align: center;
}

.c-product-container__element--details {
  margin-top: 48px;
}

@media screen and (min-width: 900px) {
  .c-product-container__element {
    flex-basis: 50%;
  }

  .c-product-container__element--images {
    text-align: right;
  }

  .c-product-container__element--details {
    text-align: left;
    margin-top: 0;
  }
}
.c-product-name {
  margin-top: 0;
  margin-bottom: 8px;
}

@media screen and (min-width: 900px) {
  .c-product-name {
    margin-bottom: 24px;
  }
}


      .star-rating {
 
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

/* explanation */



.rating_circle{
  width: 100px;
  height: 100px;
  border-radius: 70px;
  border: 1px none;
  font-size: 35px;
}
.rating_text{
    margin-top: 38px;
}
.stars-outer {
display: inline-block;
position: relative;
font-family: FontAwesome;
font-size: 20px;
letter-spacing: 5px;
}

.stars-outer::before {
content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}

.stars-inner::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #000000;
}
.dark {
  background-color: #000000;
}