<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Seek the world Admin</title>
  <!-- plugins:css -->
  {{!-- <link rel="stylesheet" href="/Admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/Admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/Admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/Admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/Admin/js/select.dataTables.min.css">
  <!-- End plugin css for this page --> --}}
  <!-- inject:css -->
  <link rel="stylesheet" href="/Admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}

<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
</head>
<body>
  {{#if admin}}
  {{>admin-header}}
  {{/if}}
  {{{body}}}

  <!-- plugins:js -->
  <script src="/Admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/Admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="/Admin/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  {{!-- <script src="/Admin/js/off-canvas.js"></script>
  <script src="/Admin/js/hoverable-collapse.js"></script>
  <script src="/Admin/js/template.js"></script>
  <script src="/Admin/js/settings.js"></script>
  <script src="/Admin/js/todolist.js"></script> --}}
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/Admin/js/dashboard.js"></script>
  <script src="/Admin/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


</body>

</html>

