<!DOCTYPE html>
<html lang="en">

<head>
  <title>The River</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="The River template project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/user/styles/bootstrap-4.1.2/bootstrap.min.css">
  <link href="/user/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/user/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/user/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/user/plugins/OwlCarousel2-2.3.4/animate.css">
  <link href="/user/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/user/styles/main_styles.css">
  <link rel="stylesheet" type="text/css" href="/user/styles/responsive.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">



  
</head>

{{#if user}}
{{>user-header}}
{{/if}}
{{{body}}}


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/user/js/jquery-3.3.1.min.js"></script>
<script src="/user/styles/bootstrap-4.1.2/popper.js"></script>
<script src="/user/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="/user/plugins/greensock/TweenMax.min.js"></script>
<script src="/user/plugins/greensock/TimelineMax.min.js"></script>
<script src="/userplugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/user/plugins/greensock/animation.gsap.min.js"></script>
<script src="/user/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/user/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="/user/plugins/easing/easing.js"></script>
<script src="/user/plugins/progressbar/progressbar.min.js"></script>
<script src="/user/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/user/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="/user/js/custom.js"></script>
</body>

</html>